body, html {
    height: 100%;
    background-image: url(../images/005-wood-grain.png);
}
.bg-image { 
    /* The image used for heading background */
    background-image: url(../images/americanFlag.jpg);
    

    /* Center, scale, and round the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    border-color: #002868;
}

.bg-image2 { 
    /* The image used for heading background */
    background-image: url(../images/golden.jpg);

    /* Center, scale, and round the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px;
    border-style: solid;
    border-color: #BF0A30;
}

header {
    /* This is where the american flag/title reside */
    border-radius: 25px;
    color: white;
    text-align: center;
    margin: 0 auto; 
    width: 80%;
    font-size: 35px;
    text-shadow: 2px 2px #002868;
}

section {
    /* This is where we will put all main content, this will be the container */
    /* background: lightgray; */
    margin: 10px  auto;
    width: 80%;
    height: auto; 
    border-radius: 10px;
    text-align: center;
    padding: 15px 0;
    background-image: url(/assets/images/washington.jpg);
}

.startButton {
    /* This is the start button */
    height: 100px;
    width: 200px;
    background-color: #002868 ;
    color: lightgray;
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 1px 1px #BF0A30;
}
   
.optionBtn {
    /* This is the start button */
    height: 100px;
    width: 60%;
    margin: 0 auto;
    background-color: #002868 ;
    color: lightgray;
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 1px 1px #BF0A30;
}

h1 {
    font-size: 35px;
    color: white;
}

.currentQuestion {
    width: 80%;
    margin: 0 auto 45px auto;
    background-color: #BF0A30;
    color: white;
    border-radius: 10px;
    font-size: 35px;
    text-shadow: 1px 1px #002868;
}

#fixed-div {
    position: fixed;
    top: 1em;
    right: 1em;
}