body, html {
    height: 100%;
    background-image: url(../images/005-wood-grain.png);
}
.bg-image { 
    /* The image used for heading background */
    background-image: url(../images/americanFlag.jpg);

    /* Center, scale, and round the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

header {
    /* This is where the american flag/title reside */
    border-radius: 25px;
    color: lightgray;
    text-align: center;
    margin: 0 auto; 
    width: 80%;
    font-size: 35px;
    text-shadow: 2px 2px #BF0A30;
}

section {0
    /* This is where we will put all main content, this will be the container */
    /* background: lightgray; */
    margin: 10px  auto;
    width: 80%;
    height: 80%;  
    border-radius: 10px;
    text-align: center;
}

button {
    /* This is the start button */
    height: 100px;
    width: 200px;
    background-color: #002868 ;
    color: lightgray;
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 1px 1px #BF0A30;
}
             